* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  height: 10vh;

  background: #eee;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);

  span {
    margin: 0 5vh;

    font-weight: bold;
    font-size: x-large;
  }

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

main {
  position: relative;
  top: 10vh;

  width: 80%;
  margin: 5vh auto;
  margin-bottom: 15vh;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;

  width: 100%;
  height: 10vh;

  background: #eee;
  color: #666;
}